In [135]:
import csv
import re

In [136]:
excelFile = open("038 Coachella-E5-2-DFE.csv", "r")
excelFile

In [137]:
import pandas as pd

In [138]:
df = pd.read_csv("038 Coachella-E5-2-DFE.csv", engine="python")

In [139]:
df.head()

,coachella_sentiment,coachella_yn,name,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
0,positive,yes,kokombil,0,#Coachella2015 tickets selling out in less tha...,"[0.0, 0.0]",1/7/15 15:02,5.529630e+17,NaN,Quito
1,positive,yes,MisssTaraaa10,2,RT @sudsybuddy: WAIT THIS IS ABSOLUTE FIRE _ÙÓ...,NaN,1/7/15 15:02,5.529630e+17,united states,NaN
2,positive,yes,NMcCracken805,0,#Coachella2015 #VIP passes secured! See you th...,NaN,1/7/15 15:01,5.529630e+17,"Costa Mesa, CA",NaN
3,positive,yes,wxpnfm,1,Philly‰Ûªs @warondrugsjams will play #Coachell...,NaN,1/7/15 15:01,5.529630e+17,"Philadelphia, PA and Worldwide",Quito
4,positive,yes,Caesears,0,If briana and her mom out to #Coachella2015 i...,NaN,1/7/15 15:00,5.529630e+17,NaN,NaN

In [140]:
df['text']

0       #Coachella2015 tickets selling out in less tha...
1       RT @sudsybuddy: WAIT THIS IS ABSOLUTE FIRE _ÙÓ...
2       #Coachella2015 #VIP passes secured! See you th...
3       Philly‰Ûªs @warondrugsjams will play #Coachell...
4       If briana and her mom out to #Coachella2015  i...
                              ...
3841    Excuse me while I go cry now. _Ù÷¢ #Coachella2...
3842    RT @touchofallright: Ride and Steely Dan. It w...
3843    I've been callin that since day one #Coachella...
3844    Is this for real?!?! #Coachella2015 http://t.c...
3845    RT @Jen_Baz: C'monnnnnn lineup! #coachella2015...
Name: text, Length: 3846, dtype: object

In [141]:
df['text'].replace(to_replace="([^\w\s]|_|[^\x00-\x7F])+", value="", regex=True, inplace=True)

In [142]:
from nltk.stem import PorterStemmer
from nltk.stem.snowball import SnowballStemmer

ps = PorterStemmer() 
sbstemmer = SnowballStemmer("english") # Better daw ni

In [143]:
textColumn = list()
for index in range(df['text'].size):
    tokenizedRow = df['text'][index].split(' ')
    stemmed = ""
    for word in tokenizedRow:
        stemmed += (sbstemmer.stem(word) + " ")
    textColumn.append(stemmed[:-1])
df['text'] = textColumn

In [144]:
df['text']

0       coachella2015 ticket sell out in less than 40 ...
1       rt sudsybuddi wait this is absolut fire  coach...
2       coachella2015 vip pass secur see you there bit...
3       philli warondrugsjam will play coachella2015 a...
4       if briana and her mom out to coachella2015  im...
                              ...
3841    excus me while i go cri now  coachella2015 htt...
3842    rt touchofallright ride and steeli dan it woul...
3843      ive been callin that sinc day one coachella2015
3844     is this for real coachella2015 httptcopbedws5os9
3845      rt jenbaz cmonnnnnn lineup coachella2015 impati
Name: text, Length: 3846, dtype: object

In [145]:
df.to_csv('038 Coachella-E5-2-DFE Preprocessed.csv', index = False)

In [146]:
import nltk
# nltk.download('vader_lexicon') # one time ra

In [147]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [148]:
import numpy as np

In [149]:
df = pd.read_csv("038 Coachella-E5-2-DFE Preprocessed.csv")
df.head()

,coachella_sentiment,coachella_yn,name,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
0,positive,yes,kokombil,0,coachella2015 ticket sell out in less than 40 ...,"[0.0, 0.0]",1/7/15 15:02,5.529630e+17,NaN,Quito
1,positive,yes,MisssTaraaa10,2,rt sudsybuddi wait this is absolut fire coach...,NaN,1/7/15 15:02,5.529630e+17,united states,NaN
2,positive,yes,NMcCracken805,0,coachella2015 vip pass secur see you there bit...,NaN,1/7/15 15:01,5.529630e+17,"Costa Mesa, CA",NaN
3,positive,yes,wxpnfm,1,philli warondrugsjam will play coachella2015 a...,NaN,1/7/15 15:01,5.529630e+17,"Philadelphia, PA and Worldwide",Quito
4,positive,yes,Caesears,0,if briana and her mom out to coachella2015 im...,NaN,1/7/15 15:00,5.529630e+17,NaN,NaN

In [150]:
text_data = df[['coachella_sentiment', 'text']]
text_data.head()

  coachella_sentiment                                               text
0            positive  coachella2015 ticket sell out in less than 40 ...
1            positive  rt sudsybuddi wait this is absolut fire  coach...
2            positive  coachella2015 vip pass secur see you there bit...
3            positive  philli warondrugsjam will play coachella2015 a...
4            positive  if briana and her mom out to coachella2015  im...

In [151]:
text_data['coachella_sentiment'].value_counts()

positive     2283
neutral       928
negative      553
cant tell      82
Name: coachella_sentiment, dtype: int64

In [152]:
df['scores'] = df['text'].apply(lambda review:analyzer.polarity_scores(review))
df.head()

,coachella_sentiment,coachella_yn,name,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone,scores
0,positive,yes,kokombil,0,coachella2015 ticket sell out in less than 40 ...,"[0.0, 0.0]",1/7/15 15:02,5.529630e+17,NaN,Quito,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
1,positive,yes,MisssTaraaa10,2,rt sudsybuddi wait this is absolut fire coach...,NaN,1/7/15 15:02,5.529630e+17,united states,NaN,"{'neg': 0.231, 'neu': 0.769, 'pos': 0.0, 'comp..."
2,positive,yes,NMcCracken805,0,coachella2015 vip pass secur see you there bit...,NaN,1/7/15 15:01,5.529630e+17,"Costa Mesa, CA",NaN,"{'neg': 0.0, 'neu': 0.68, 'pos': 0.32, 'compou..."
3,positive,yes,wxpnfm,1,philli warondrugsjam will play coachella2015 a...,NaN,1/7/15 15:01,5.529630e+17,"Philadelphia, PA and Worldwide",Quito,"{'neg': 0.0, 'neu': 0.844, 'pos': 0.156, 'comp..."
4,positive,yes,Caesears,0,if briana and her mom out to coachella2015 im...,NaN,1/7/15 15:00,5.529630e+17,NaN,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."

In [153]:
df.to_csv('038 Coachella-E5-2-DFE Sentiment Analyzed.csv', index = False)
df.head()

,coachella_sentiment,coachella_yn,name,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone,scores
0,positive,yes,kokombil,0,coachella2015 ticket sell out in less than 40 ...,"[0.0, 0.0]",1/7/15 15:02,5.529630e+17,NaN,Quito,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."
1,positive,yes,MisssTaraaa10,2,rt sudsybuddi wait this is absolut fire coach...,NaN,1/7/15 15:02,5.529630e+17,united states,NaN,"{'neg': 0.231, 'neu': 0.769, 'pos': 0.0, 'comp..."
2,positive,yes,NMcCracken805,0,coachella2015 vip pass secur see you there bit...,NaN,1/7/15 15:01,5.529630e+17,"Costa Mesa, CA",NaN,"{'neg': 0.0, 'neu': 0.68, 'pos': 0.32, 'compou..."
3,positive,yes,wxpnfm,1,philli warondrugsjam will play coachella2015 a...,NaN,1/7/15 15:01,5.529630e+17,"Philadelphia, PA and Worldwide",Quito,"{'neg': 0.0, 'neu': 0.844, 'pos': 0.156, 'comp..."
4,positive,yes,Caesears,0,if briana and her mom out to coachella2015 im...,NaN,1/7/15 15:00,5.529630e+17,NaN,NaN,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound..."